body{
    background-color: #eee;
}

.div1 {
    height: 400px;
    height: 200px;
    background: khaki url('https://placekitten.com/200/200') no-repeat right top fixed;

  /*   background-color: khaki;
    background-image: url('https://placekitten.com/200/200');
    
    background-repeat: no-repeat;
    background-position: right top;
    
    /* scroll 
    background-attachment: fixed; */
    background-size: cover;
}

.article1 {
    background-image: linear-gradient( -45deg, red, yellow, blue, grey, green, tomato);
    height: 200px;
    width: 200px;

}
.box{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.text{
    position: relative;
    left: 50px;
    top: 50px;
    width: 100px;
    height: 50px;
    background-color: white;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    transition-delay: 1.5s;
    transition: 0.5s;
}
.text:hover {
    transform: scale(1.05, 1.05);
    width: 150px;
    background-color: tomato;
}
.caja1 {
    position: relative;
    left: 50px;
    width: 100px;
    height: 20px;
    border-left: solid red;
    background-color: white;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    transition-delay: 1.5s;
    transition: 0.5s;
    text-align: center;
}
.caja1:hover {
    transform: scale(1.05, 1.05);
    width: 150px;
    background-color: red;
}

.caja2{
    position: relative;
    left: 50px;
    width: 50px;
    height: 20px;
    right: 10;
    border-left: solid green;
    background-color: white;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    transition-delay: 1.5s;
    transition: 0.5s;
}
.caja2:hover{
    transform: scale(1.05, 1.05);
    width: 150px;
    background-color: green;
}
.caja3{
    position: relative;
    left: 50px;
    width: 100px;
    height: 20px;
    border-left: solid cornflowerblue;
    background-color: white;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    transition-delay: 1.5s;
    transition: 0.5s;
}
.caja3:hover{
    transform: scale(1.05, 1.05);
    width: 150px;
    background-color: blue;
}